

:root {
    --main-bg-color: pink;
  }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: "Plus Jakarta Sans", system-ui;
}
  
/* Sidebar styles */
  #sidebar {
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 250px; */
    z-index: 1000;
    color: #1E293B;
}

#sidebar-header {
    height: 75px;
}

#sidebar-header img{
    width: 50px;
}

#sidebar .nav-link {
    color: black;
    font-size: 18px;
}

#sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}


/* Top Bar */

#top-bar {
    height: 75px;
}
#top-bar img{
    width: 50px;
    margin-right: 1em;
}

/* BTN */
.btn-search {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #6c757d;
    font-size: 1.2rem;
}

.btn-action {
    padding: .1em .4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a67d8;
    color: white;
    font-size: 1.5em;
    border: none;
}

#voir-tout span, #voir-tout i{
   
    font-size: .8em;
    color: #4F46E5;
    text-decoration: none;
}

.btn-action:hover {
    background-color: #434190;
}

.btn-action:active {
    background-color: #3c366b;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 3.5em;
    font-size: 1rem;
}

/* Right Sidebar styles */

#right-sidebar {
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 300px; */
    z-index: 1000;
    color: #1E293B;    
}

#right-btn-container button{
    padding: .1em .4em;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#sidebar-header img {
    width: 45px;
    height: auto;
}

#suggestion-info {
    font-size: .8em;
}

#suggestion-info img {
    width: 35px;
    height: auto;
}

#profile-stats {
    padding: 15px;
    border-radius: 10px;
    background-color: #EEF2FF;
    border: 1px solid #C7D2FE;
}

#followers-circle img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid white;
}

/* Sidebar hide/show for mobile */
@media (max-width: 992px) {
    #sidebar {
        width: 250px;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    #top-bar {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    #top-bar.show {
        transform: translateY(-100%);
    }
    #right-sidebar {
        transform: translateX(150%);
        transition: transform 0.3s ease-in-out;
    }
    #right-sidebar.show {
        transform: translateX(0);
    }
}

/* Adjust the main content to not be overlapped by the sidebar */
#main-content {
     /* Same as the width of the sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* On mobile, reset the margin for the main content */
@media (max-width: 992px) {
    #main-content {
        margin-left: 0;
    }

}
